<div class="gradient-bg">
  <div class="text-container">Music Release Monitor</div>

  <!-- 1. Conditionally display app-user or app-auth-widget -->
  <!-- Suppose 'isLoggedIn' is a boolean in your .ts file that you set based on Keycloak auth status. -->
  <ng-container *ngIf="isLoggedIn(); else authTemplate">
    <app-user></app-user>
    <app-log-off-widget></app-log-off-widget>
  </ng-container>
  <ng-template #authTemplate>
    <app-auth-widget></app-auth-widget>
  </ng-template>

  <!-- 2. The SVG for goo filter (must be in the DOM) -->
  <svg xmlns="http://www.w3.org/2000/svg">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix
          in="blur"
          mode="matrix"
          values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8"
          result="goo"
        />
        <feBlend in="SourceGraphic" in2="goo" />
      </filter>
    </defs>
  </svg>

  <!-- 3. The animated bubble container (above everything else) -->
  <div class="gradients-container above">
    <div class="g1"></div>
    <div class="g2"></div>
    <div class="g3"></div>
    <div class="g4"></div>
    <!-- <div class="g5"></div> -->
  </div>
</div>
